*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
**/.externalNativeBuild/
**/.cxx/

# APKs and app bundles
*.apk
*.aab

# Local generated images/screenshots
/Screenshot_*.jpg
/app-icon-cut.png
/file_*.png
/aiterminal_backup.yaml.txt
